.product-details {
    padding: 20px 0 60px 0;
    position: relative;
    @media(max-width: 1199px) {
        padding-top: 16%;
    }
    @media(min-width: 1400px) {
        padding-left: 8.333%;
    }
    .product-img-box {
        padding-top: 100px;
        transition: all 0.2s linear;

        &.active {
            margin-top: -16%;
            @media(max-width: 767px){
                margin-top: -10%;
            }
        }

        li{
            position: relative;
            transition: all 0.2s linear;
            margin-top: -16%;
            @media(max-width: 767px){
                margin-top: -10%;
            }
            cursor: pointer;
         
            &.active {
                padding-top: 16%;
                @media(max-width: 767px){
                    padding-top: 10%;
                }
                &::before{
                    background: rgba($color-white, 0) !important;
                }
            }

            &:hover {
                &::before{
                    background: rgba($color-white, 0) !important;
                }
            }

            &:nth-child(1){
                z-index: 6;
                margin-top: 0;
            }
            &:nth-child(2){
                z-index: 5;
            }
            &:nth-child(3){
                z-index: 4;
            }
            &:nth-child(4){
                z-index: 3;
            }
            &:nth-child(5){
                z-index: 2;
            }
            &:nth-child(6){
                z-index: 1;
            }

             //   **********  indicator-full start ********** 
            .indicator-full{
                position: absolute;
                bottom: 10%;
                right: 20%;
                transform: translate(0);
                
                .indicator-main {
                    position: relative;
                    display: inline-block;

                    @media (min-width: 1200px){
                        &::before {
                            content: "";
                            height: 2px;
                            width: 0;
                            background: $color-blue;
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all 0.2s linear;
                        }
                    }
                }
        
                .indicator {
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: $color-blue;
                    border: 2px solid $color-blue;
                    border-radius: 100%;
                    display: inline-block;
                    background: #fff;
                    z-index: 999;
                    font-size: 14px;
                }
    
                @keyframes waves {
                    0% {
                        -webkit-transform: scale(0.2, 0.2);
                        transform: scale(0.2, 0.2);
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    }
                    50% {
                        opacity: 0.9;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
                    }
                    100% {
                        -webkit-transform: scale(1, 1);
                        transform: scale(1, 1);
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    }
                }
            
                .waves {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    background: transparent;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    border: 2px solid $color-blue;
                    border-radius: 100%;
                    right: -50%;
                    bottom: -50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    -webkit-animation: waves 3s ease-in-out infinite;
                    animation: waves 3s ease-in-out infinite;
                }
                        
                .wave-1 {
                    -webkit-animation-delay: 0s;
                    animation-delay: 0s;
                }
        
                .wave-2 {
                    -webkit-animation-delay: .5s;
                    animation-delay: .5s;
                }
        
                .wave-3 {
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;
                }
                .wave-4 {
                    -webkit-animation-delay: 2s;
                    animation-delay: 2s;
                }

                  // li active wave change
                &.active {
                    .indicator-main {
                        &::before {
                            width: 300px;
                        }
                    }
                    .indicator {
                        background: $color-blue;
                        color: #fff;
                        border-color: #fff;
                    }
                    .waves {
                        display: none;
                    }
                }
            }

            &:nth-child(even){
                .indicator-full{
                   right: 10%;
                }
            }

          
            // ********** End of indicator-full ********** 
        }

        &:hover {
            li {
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba($color-white, 0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        
    }

    // ######## product information start ########
    .product-information {
        padding-top: 100px;
        @media (max-width: 1199px) {
            padding-top: 0px;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: $color-blue;
            line-height: 1;
            @media(max-width: 1199px){
                position: absolute;
                top: 6%;
                z-index: 6;
            }
            @media(max-width: 480px){
                font-size: 35px;
                top: 5%;
            }
        }
        
        p {
            font-size: 1.2rem;
            color: $color-black;
            line-height: 1.8rem;
            padding: 30px 0;
            @media(max-width: 1199px){
               padding-top: 0;
            }

            strong {
                font-weight: 800;
                color: $color-blue;
            }
        }
    }
    // ########//end of product information ########
}